.icon-form, .icon-form-close, .features-doing .link, .list-icon-item, .icon, .connection__footer-address .item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-hero-button, .form-button, .form-button:focus, .form-field-button {
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font: bold 16px/30px Roboto, serif;
  color: #ffffff;
}

.hero-site-item, .features-item, .feature-doing-item, .features-team-item, .customers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .title, .features-doing .link, .title-connect {
  font: bold 14px/16px Roboto, serif;
}

.features-doing .title, .features-team .title, .customers .title {
  font: bold 36px/42px Roboto, serif;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.features, .features-doing, .features-team, .customers {
  margin: 0px;
  margin-bottom: 94px;
  padding: 0;
  position: relative;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Style.
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Roboto;
  color: var(--text-white-color);
  margin: 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.disable-scroll {
  /* overflow: hidden; */
  padding-right: 17px;
}

.p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__contacts-mail, .header__contacts-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts .contact + .contact {
  margin-left: 30px;
}

.header__contacts .contact:hover, .header__contacts .contact:focus {
  color: #2196f3;
}

.header__contacts .contact:hover .icon, .header__contacts .contact:focus .icon {
  fill: #2196f3;
}

.header__contacts-text {
  margin-left: 10px;
}

.header__logo {
  font: bold 26px/31px Raleway, serif;
}

.header__logo-web {
  color: #2196f3;
}

.header__logo-st {
  color: #000000;
}

.header__logo:hover, .header__logo:focus {
  -webkit-text-decoration: underline #2196f3;
          text-decoration: underline #2196f3;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.header__left-side,
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin-left: 85px;
}

.header__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  font: 500 14px/16px Raleway, serif;
  letter-spacing: 0.02em;
  position: relative;
}

.header__nav-link.active:after, .header__nav-link:hover:after, .header__nav-link:focus:after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #2196f3;
  border-radius: 20px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link + .header__nav-link {
  margin-left: 50px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 453px;
    z-index: 500;
    margin: 0;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .menu-container.is-open {
    display: block;
  }
}

.main-section {
  max-width: 100%;
  margin: 0 auto;
}

.hero {
  position: relative;
  min-height: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 94px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../image/Headerimg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../image/Headerimg.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.hero-site-item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .title {
  color: #ffffff;
  font: 900 44px/60px Roboto, serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.hero .link {
  color: #ffffff;
  font: bold 16px/30px Roboto, serif;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  position: absolute;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #2196f3;
}

.hero-img {
  max-width: 100%;
  height: auto;
}

.form-hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  position: absolute;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-button {
  letter-spacing: 0.06em;
  padding: 10px 55px;
  cursor: pointer;
}

.close-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form-backdrop {
  background-color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 528px;
  max-height: 581px;
  padding: 40px 40px;
  margin-top: 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.form-heading {
  margin: 0;
  margin-bottom: 30px;
  font: normal bold 20px/23px Roboto, serif;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  margin-bottom: 28px;
  position: relative;
}

.form-field:focus-within * {
  color: #2196f3;
  border-radius: 4px;
  outline: none;
  border-color: #0098fd;
  fill: #2196f3;
}

.form-label {
  position: absolute;
  left: 42px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  left: 16px;
  top: 15%;
}

.form-field textarea {
  background-color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  height: 120px;
  cursor: pointer;
}

.form-field input {
  border-radius: 4px;
  background: #2f303a;
  height: 40px;
  padding-left: 42px;
  background-color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.form-field:focus-within .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-40px) translateX(-30px);
          transform: translateY(-40px) translateX(-30px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.transform:focus-within .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.checkbox-field,
.checkbox-label {
  position: relative;
  font: normal 14px/24px Roboto, serif;
  letter-spacing: 0.03em;
  margin-left: 9px;
  color: #757575;
  margin-bottom: 30px;
}

.checkbox-label a {
  margin-left: 3px;
  margin-right: 3px;
  color: #2196f3;
  text-decoration: underline;
}

.input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.icon-check-Vector-border {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 3px;
  background-color: #ffffff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 1;
  margin-right: 8px;
}

.icon-check-Vector {
  width: 16px;
  height: 16px;
  opacity: 0;
}

input:focus .icon-check-Vector {
  opacity: 1;
  background: #2196f3;
  border-radius: 3px;
  fill: #ffffff;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-form-close {
  padding: 6px;
  fill: #000000;
}

.close-button:hover,
.close-button:focus {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2196f3;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkin {
  fill: #000000;
  position: absolute;
  top: 11px;
  left: 16px;
}

.checkin:focus-within {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features {
  margin-bottom: 94px;
  letter-spacing: 0.03em;
  /* height: 251px; */
}

.features-item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-item .item + .item,
.feature-doing-item .item + .item,
.features-team-item .item + .item,
.customers-item .item + .item {
  margin-left: 30px;
}

.features-icon {
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 102px;
}

.features .title {
  text-transform: uppercase;
  color: #212121;
  width: 270px;
  margin-bottom: 10px;
}

.features .text {
  color: #757575;
  line-height: 24px;
  font-size: 14px;
  width: 270px;
}

@media screen and (min-width: 480px) {
  .features-doing {
    display: none;
  }
}

.feature-doing-item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.images {
  display: block;
}

.feature-doing-item .item {
  position: relative;
  height: 100%;
}

.features-doing .link {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 480px) {
  .features-doing .link {
    display: block;
  }
}

.link-item {
  text-decoration: none;
  width: 370px;
  height: 294px;
}

.features-team-item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  height: 702px;
  margin: 0 auto;
  background: #f5f4fa;
}

.section-team-work {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.section-team-work + .section-team-work {
  margin-left: 30px;
}

.team-img {
  width: 100%;
  height: auto;
}

.features-team {
  font: normal 16px/19px Roboto, serif;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.features-team .name {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
}

.features-team .profession {
  margin-top: 10px;
  color: #757575;
}

.features-team .link {
  color: #afb1b8;
}

.features-team .link:hover {
  color: #2196f3;
}

.list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  padding-bottom: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-icon-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icon-item:hover,
.list-icon-item:focus {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #2196f3;
  fill: #ffffff;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.list-icon-item:hover .icon,
.list-icon-item:focus .icon {
  fill: #ffffff;
}

.list-icon-item + .list-icon-item {
  margin-left: 10px;
}

.customers-item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.customers-item .link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers-item .link:hover,
.customers-item .link :focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: var(--link-text-color);
  fill: var(--link-text-color);
}

.link:hover .icon-customer,
.link:focus .icon-customer {
  fill: #2196f3;
}

.icon-customer {
  fill: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customer.one {
  width: 44px;
  height: 49px;
}

.icon-customer.two {
  width: 40px;
  height: 52px;
}

.icon-customer.three {
  width: 41px;
  height: 43px;
}

.icon-customer.four {
  width: 80px;
  height: 42px;
}

.icon-customer.five {
  width: 59px;
  height: 47px;
}

.icon-customer.six {
  width: 88px;
  height: 45px;
}

.footer {
  max-width: 100%;
  height: 253px;
  margin: 0 auto;
  background-color: #2f303a;
}

.footer__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__style-logo {
  display: block;
  margin-top: 60px;
}

.logo-bottom {
  margin-bottom: 20px;
  font: bold 26px/31px Raleway, serif;
}

.logo-bottom:hover,
.logo-bottom :focus {
  -webkit-text-decoration: underline #2196f3;
          text-decoration: underline #2196f3;
}

.logo-bottom .logo-styd {
  color: #ffffff;
}

.footer-address,
.connect {
  width: 231px;
  margin-right: 69px;
  color: #ffffff;
  font: normal 14px/24px Roboto, serif;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription {
  display: block;
  margin-left: 94px;
}

.form-field-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.form-field-footer input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
}

.form-field-button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;
  letter-spacing: 0.06em;
}

.button-svg {
  position: absolute;
  fill: var #ffffff;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 20px;
}

.title-connect {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection {
  display: block;
}

.connection__footer-address {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.connection__footer-address .item-footer {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__footer-address .item-footer:hover, .connection__footer-address .item-footer:focus {
  border-radius: 50%;
  background-color: #2196f3;
  fill: #ffffff;
}

.connection__footer-address .item-footer .icon {
  fill: #ffffff;
}

.connection__footer-address .item-footer + .item-footer {
  margin-left: 10px;
}

.indent {
  margin-top: 93px;
}

.hero-site {
  text-align: center;
  margin-bottom: 50px;
}

.hero-site .link {
  color: #212121;
  font: 500 16px/26px Roboto, serif;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-site .link + .link {
  margin-left: 8px;
}

.hero-site .link:hover,
.hero-site .link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.title-depiction {
  font: bold 18px/36px Roboto, serif;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 30px;
  overflow: hidden;
  width: 370px;
  margin-right: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-depiction .text {
  font: normal 16px/30px Roboto, serif;
  letter-spacing: 0.03em;
  color: #757575;
}

.flex-visible {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.text-depiction {
  font: normal 18px/28px Roboto, serif;
  letter-spacing: 0.03em;
  width: 370px;
  height: 294px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-depiction:hover .text-depiction,
.title-depiction:focus .text-depiction {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  cursor: pointer;
}

.title-depiction:hover,
.title-depiction:focus {
  cursor: pointer;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.title-depiction:nth-child(3n) {
  margin-right: 0px;
}

.tehno-text {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    position: relative;
  }
  .features-item {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  .features {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .features .title {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .features .text {
    width: 100%;
  }
  .features-item .item + .item {
    margin-left: 0;
  }
  .features-icon {
    width: 100%;
  }
  .features-doing {
    display: none;
  }
  .section-team {
    height: 2201px;
  }
  .section-team-work + .section-team-work {
    margin-left: 0;
  }
  .section-team-work {
    width: 100%;
    height: 482px;
    margin-bottom: 30px;
    background-color: #ffffff;
  }
  .team-img {
    height: 320px;
  }
  .customers-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .customers-item .link {
    width: 210px;
  }
  .customers-item .item + .item {
    margin-left: 0;
  }
  .customers-item .item {
    margin-bottom: 30px;
  }
  .customers-item .item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .footer {
    height: 603px;
  }
  .footer__style {
    display: block;
    text-align: center;
  }
  .form-field-footer {
    display: block;
  }
  .footer-address,
  .connect {
    text-align: center;
    margin: 0 auto;
  }
  .connect {
    font: normal 14px/24px Roboto, serif;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .title-connect {
    display: block;
    text-align: center;
  }
  .subscription {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .button-svg {
    bottom: 13px;
    right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header__contacts .contact + .contact {
    margin-left: 0;
  }
  .section-team {
    height: 1057px;
  }
}
/*# sourceMappingURL=main.css.map */