.header__contacts {
  &-mail,
  &-tel {
    display: flex;
    color: $text-color;
    align-items: center;
  }
  & .contact + .contact {
    margin-left: 30px;
  }
  .contact {
    &:hover,
    &:focus {
      .icon {
        fill: $link-text-color;
      }
      color: $link-text-color;
    }
  }
  &-text {
    margin-left: 10px;
  }
}
