.header__logo {
  font: bold 26px/31px $font-secondary, serif;
  &-web {
    color: $link-text-color;
  }
  &-st {
    color: $text-black-color;
  }
  &:hover,
  &:focus {
    text-decoration: underline $link-text-color;
  }
}
